.menu_principal {
    background-color: #63b9cd;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.botonesMenu {
    text-shadow: 2px 2px 4px #000000;
    padding: 3px 10px;
    color: white;
    font-size: 16px;
    text-decoration: solid;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Times New Roman';
}

:root {
    --border-color: linear-gradient(to right, tomato 0%, gold 100%);
    --video-color: #222;
    --spin-speed: 1500ms;
}

.video {
    border-radius: 16px;
    display: flex;
    justify-content: center;
}

#trailer {
    width: 1280px;
}

main {
    padding: 125px 80px;
}

.descripcionVideo {
    background: var(--border-color);
    width: 375px;
    margin-right: 15px;
    padding: 10px;
    position: relative;
}

#BtnFavoritos {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: url(/Recursos/Imagenes/star-empty.png)no-repeat cyan center;
    cursor: pointer;
    position: relative;
    left: 21px;
    margin: 10px;
}

    #BtnFavoritos.filled {
        background: url(/Recursos/Imagenes/star-filled.png)no-repeat cyan center;
    }

#BtnSorprendeme {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: url(/Recursos/Imagenes/guau1.png) no-repeat cyan;
    background-position: center;
    cursor: pointer;
    position: relative;
    left: 274px;
    margin: 10px;
}

    #BtnSorprendeme.vueltita {
        -webkit-animation-name: spin;
        -webkit-animation-duration: var(--spin-speed);
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;
        -moz-animation-name: spin;
        -moz-animation-duration: var(--spin-speed);
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease;
        /*-ms-animation-name: spin;
        -ms-animation-duration: var(--spin-speed);
        -ms-animation-iteration-count: 1;
        -ms-animation-timing-function: ease;
            */
        animation-name: spin;
        animation-duration: var(--spin-speed);
        animation-iteration-count: 1;
        animation-timing-function: ease;
    }

.titulo {
    font-size: 40px;
    width: 290px;
    display: inline-block;
}

.sinopsis {
    line-height: 32px;
    margin-top: 15px;
    display: inline-block;
    font-size: 24px;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}