.carousel {
    width: 100px;
    display: inline;
    height: 200px;
}

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    10% {
        transform: translateX(0);
        opacity: 1;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    30% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}


.pic {
    height: 300px;
    width: 300px;
}

    .carousel > img {
        opacity: 0;
        animation: display 10s infinite;
    }

img:nth-child(1) {
    animation-delay: 4s;
}

img:nth-child(2) {
    animation-delay: 6s;
}

img:nth-child(3) {
    animation-delay: 8s;
}

img:nth-child(4) {
    animation-delay: 10s;
}

img:nth-child(5) {
    animation-delay: 12s;
}